@model HamsterForum.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-4">Create Comment</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-primary">
            <div class="card-body">
                <h5 class="card-title text-primary mb-4">Post a Comment</h5>

                <form id="commentForm" asp-action="Create" asp-controller="Comments">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input type="hidden" asp-for="DiscussionId" />
                    <div class="mb-3">
                        <textarea asp-for="Content" class="form-control" rows="5" placeholder="Write your comment here"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                  
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Post Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
